 :root {
   --primary: hsl(231, 69%, 60%);
   --accent: hsl(0, 94%, 66%);
   --grayish: hsl(229, 8%, 60%);
   --dark: hsl(229, 31%, 21%);
   --light-bg: #f9f9f9;
 }

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
   font-family: 'Rubik', sans-serif;
   color: var(--dark);
   background-color: var(--light-bg);
 }

 header {

   background-color: #3b5D50;
   background-position: center;
   background-size: cover;
   /* height: 540px; */
 }

 nav {
   display: flex;
   align-items: center;
   height: 80px;
   background-color: #3b5D50;
   justify-content: space-evenly;
   padding: 40px;



 }

 .logo {
   font-size: 2rem;
   color: black;
 }

 .menu {
   list-style-type: none;
   display: contents;
 }

 .menu li a {
   text-decoration: none;
   font-size: 1.3rem;
   color: white;
 }

 .icon {
   display: flex;
   gap: 20px;
   font-size: 20px;
   color: black;
 }

 .words {
   font-family: 'Rubik', sans-serif;
   padding: 0px 20px;
   /* align-items: center; */
   display: flex;
   /* align-items: center; */
   justify-content: space-between;

 }
 .left{
  padding: 80px 30px;
 }

 .words h1 {
   color: white;
   font-size: 4rem;
 }

 .words p {
   word-spacing: 10px;
   color: var(--grayish);
 }

 .buttons {
   gap: 10px;
   display: flex;
 }

 #shopbtn {
   padding: 10px 20px;
   border: none;
   border-radius: 10ch;
   background-color: rgb(214, 107, 0);
 }

 #explorebtn {
   padding: 10px 30px;
   border: 2px solid white;
   border-radius: 10ch;
   background: none;
 }

 #products {
   text-align: center;

   display: grid;
   grid-template-columns: 1fr 1fr;
 }

 .pro1,
 .pro2,
 .pro3,
 .pro4 {
   /* background-color: var(--light-bg);
     */
   background-color: white;
   padding: 10px;
   margin: 20px;
   border-radius: 20px;
 }
 /* .pro1,
 .pro2,
 .pro3,
 .pro4:hover{
/* background-color: #3b5D50; */
  
.pro1:hover{
  background-color: #3b5D50;
 
}
.pro2:hover{
   background-color: #3b5D50;

}
.pro3:hover{
   background-color: #3b5D50;

}
.pro4:hover{
   background-color: #3b5D50;

}
 #shopbtn2 {
   padding: 10px 80px;
   border: none;
   border-radius: 10ch;
   background-color: rgb(214, 107, 0);
   margin: 20px;
 }
 .why_choose{
display: flex;
align-items: center;
  justify-content: space-between;
  /* height: 650px; */
  /* margin: 30px; */
  padding: 100px 20px;

 }
 .why_choose .left{
margin-top: -90px;
 }
 .why_choose img{
  border-radius: 20px;
 }
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

}
#para{
color: var(--grayish);
}
input , button{
  padding: 10px 20px;
  margin-right:10px ;
  border-radius: 8px;
}
 @media(max-width: 768px) {
   header {
     display: flex;
     flex-direction: column;
     padding: 20px;
     width: 100%;
     overflow: hidden;
   }

   .words {
     display: flex;
     flex-direction: column;
   }

   nav {
     display: grid;
     height: auto;
     text-align: center;
     gap: 20px;
     background-color: black;
   }
 


   .logo {
     display: block;
     background-color: white;
     width: 100%;
     border-radius: 7px;
   }

   .icon {
     background-color: white;
     width: 100%;
     border-radius: 7px;
     padding: 30px 50px;
   }

   #products {
     display: flex;
     flex-direction: column;
   }
   .why_choose{
    display: grid;
    grid-template-columns: 1fr ;
   }
   footer{
display: flex;
align-items: center;

   }
   .row{
    text-align: center;
    gap: 10px;
   }
 }